*
{
    padding: 0;margin: 0;
    box-sizing: border-box;
}
body
{
    width:100vw ;height: 100vh;
    background-image: url(Images/background_image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.Container
{
    width: 100%;height: 100%;
    display: grid;
    grid-template-columns:100%;
    grid-template-rows: 12.50% 80.27% 7.23%;

}
.ONE
{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
    grid-template-rows: 100%;
    justify-items: center;align-items: center;
}
.aa
{
    text-decoration: none;
    color: #FFFFFF;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size:  1.7vw;
    color: #FFFFFF;
    margin-top: 4%;
}
.bb
{
    text-decoration:none;
}
.logo
{
    grid-column: 1/2;
}
.Home
{
    grid-column: 3/4;
}
.Contact
{
    grid-column: 4/5;
}
.Galerie
{
    grid-column: 5/6;
}
.TWO
{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    
}
.Pic{
    grid-column:1/2;
    position: relative; 
}
#Pic{
    position:absolute;
    margin-left:25%;bottom:0;
    animation:wobble;
    animation-duration:2s;

}
@media screen and (max-width: 700px){
    #Pic{
       width:90%;height:90%;
    }   

}
.Des{
    grid-column: 2/3;
    position: relative;
}
.Greybox{
    display: grid;
    grid-template-rows:1fr 1fr 5fr ;
    width:60%;height:50%;
    background-color: rgb(251, 241, 236,39%);
    border-radius: 39px;
    position: absolute;
    left: 25%;bottom: 25%;
}
.wt{
    font-family: Staatliches;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8vw;
    text-align: center;
    color: #ffffff;
}
.qt{
    font-family: Staatliches;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8vw;
    text-align: center;
    color: #ffffff;
    position: relative;
    top: 30%;

}
.pt{
    font-family: Staatliches;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8vw;
    text-align: center;
    color: #EF7373;
}
body .Container .TWO .Des .Greybox .wt span{
    color: #986565;
}
.THREE
{
    background-image: url(Images/background_rectangle.png);
    background-repeat: no-repeat;background-size: cover;
    display: grid;
    grid-template-columns: repeat(12,1fr);justify-items: center;
    grid-template-rows: 1fr;align-items: center;
}
.ARR{
    grid-column: 5/9;
}
#ARR{
    list-style: none;
    font-family: 'Righteous';
    font-size: 1.2vw;color: #EF7373;
}
.AE{
    grid-column: 1/4;grid-row: 1/2;
}    
#AE{
    list-style: none;
    font-family: 'Righteous';
    font-size: 1.2vw;color: #EF7373;
}
.TI
{
    grid-column:10/11;
}

 .aa:hover
 {
     text-decoration: underline solid #EF7373;
 }
a{
    text-decoration: none;
}
.MW
{
    justify-self: center;
}
#MW
{
    display: none;
    width: 50%;border: none;
    position: relative;
}
input
{
    border: none;background-color: #ef737300;
    border-bottom: 2px solid #FFFFFF;outline: none;
    text-align: solid rgba(182, 182, 182, 0) 0.5vw;
    color: #EF7373;
}
form
{
    font-family: 'Righteous';
    font-style: normal;
    font-weight: normal;
    position: absolute;top: 25%;left:10%;
}
.pink{
    color:#EF7373;
}
